
@{
    ViewData["Title"] = "Index";
}
<p>this is tag management page</p>
<a asp-area="Admin" asp-action="MainTagList" asp-controller="Tags">Main tags List</a>
<a asp-area="Admin" asp-action="SubTagList" asp-controller="Tags">a Sub tag List</a>






