<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnswerQuestionWebApp</title>

    <environment include="Development">


        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans">
        <link href="~/css/navbar.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.csss"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    
    @RenderSection("Style", required: false)
</head>
<body>

    <header class="headerbg fixed-top">
        <div class="navcontainar">
            
            <nav class="mainnav">
                <img src="~/images/banner1.svg" alt="logo" class="logo">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-th-large"></i>Feed</a></li>
                    <li><a href="#"><i class="fas fa-user-tag"></i>Tag</a></li>
                    <li><a href="#"><i class="fas fa-bell"></i>Notification</a></li>
                    <li><a href="#"><i class="fas fa-blog"></i>Blog</a></li>
                    <li><a href="#"><i class="fas fa-user-alt"></i>Profile</a></li>

                    <partial name="_LoginPartial" />

                </ul>

            </nav> 

        </div>
    </header>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - AnswerQuestionWebApp</p>
            </footer>
        </div>

        <environment include="Development">

            <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
            <script src="~/lib/popper.js/umd/popper.js" asp-append-version="true"></script>
            <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://code.jquery.com/jquery-3.4.0.min.js"
                    asp-fallback-src="~/lib/jquery/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM">
            </script>

            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
