@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4 md-form">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Input.GenderId"></label>
                <select asp-for="Input.GenderId" asp-items="Model.Gender" class="form-control">
                    <option value="">Please Select A Gender</option>
                </select>
                <span asp-validation-for="Input.GenderId" class="text-danger"></span>
            </div>


            <div class="form-group">

                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label asp-for="Input.CountryId"></label>
                <select asp-for="Input.CountryId" asp-items="Model.Countries" class="form-control">
                    <option value="">Please Select A Country</option>
                </select>
                <span asp-validation-for="Input.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Input.LanguesId"></label>
                <select asp-for="Input.LanguesId" asp-items="Model.Langues" class="form-control">
                    <option value="">Please Select A langues</option>
                </select>
                <span asp-validation-for="Input.LanguesId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Photo"></label>
                <div class="custom-file">
                    <input  asp-for="Input.Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose photo</label>
                </div>
                <span asp-validation-for="Input.Photo" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('.custom-file-input').on("change",
                function () {
                    var filename = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(filename);

                });

        });
    </script>
}
